<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="components/css/style.css">
    <title> Netflix</title> 
</head>
<body>
    <div class="header">
        <div class="logo">
            <a href="#">
                <img src="components/css/img/logo.jpg">
            </a>
        </div>
        <div class="login_body">
            
            <h2>Entrar</h2>
            <form>
                <div class="input_box">
                    <input required type="email" placeholder="Email ou telefone">

                    <div class="input_box">
                        <input required type="password" placeholder="Senha">
                    </div>
                    <div>
                        <button class="Submit">
                            Entrar
                        </button>
                    </div>
                </div>
            </form>
            <div class="support">
                <div class="remember">
                    <form>
                        
                            <span><input id="lembre-se" type="checkbox" style="margin: 0px; padding: 0px; height: 13px;"></span>
                            <span><label for="lembre-se">Não esqueça de marcar.</label></span>
                            <div class="help>
                                <a href="#></a>
                                Precisa de ajuda?
                                </a>
                             </div>
                              </div>
                              <div class="login_footer">
                                <div class="login facebook">
                                    <span><img src="components/css/img/facebook.jpg" height="40px" alt="facebook"></span> 
                                    <span> <a href="#">Conectar ao Facebook</a></span>
                                </div>
                                <div class="sign_up">
                                    <p>Novo por aqui?  <a href="#">Cadastre-se</a></p>
                                    <div class="terms"></div>
                                    <p>Essa página é protegida pelo sistema de ReCaptcha para garantir sua segurança e confirmação. <a href="#"> Saiba mais</a></p>
                                    
                                    

                                </div>
                              </div>
                    </form>
                </div>
                </div>
            </div>
        </div>

    </div>
    
</body>
</html>